{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
<div class="row row-flex">
        <p>Looks like none of our products matched your search query! Try broadening your search, or return to the homepage to look through the catalogue.</p>
</div>
{% endblock %}